.hover-container {
    width: 100%; /* Responsive width */
    max-width: 300px; /* Maximum width */
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .hover-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-image:hover {
    transform: scale(1.05);
    filter: brightness(1.1) saturate(1.1);
    cursor: pointer;
  }