/* HoverImage.css */
.hover-container {
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.hover-image {
  display: block;
  width: 100%;
  height: auto;
}
